SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:3f" NAME="sw_port6"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:3e" NAME="sw_port7"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:41" NAME="sw_port8"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="84:a9:3e:74:3f:0d" NAME="Control LAN"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:b7" NAME="sw_port2"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:b6" NAME="EMS_MOP"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:b9" NAME="sw_port3"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:b8" NAME="ECS_MOP"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:4f" NAME="4G_net"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:4e" NAME="MG_WAN"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:51" NAME="MG_LAN"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:50" NAME="sw_port1"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="84:a9:3e:74:3f:10" NAME="Office_Net"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="c0:a1:c3:a3:f5:40" NAME="nessus"
