SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:1f" NAME="sw_port6"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:20" NAME="sw_port7"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:21" NAME="sw_port8"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:22" NAME="nessus"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:97" NAME="sw_port2"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:98" NAME="EMS_MOP"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:99" NAME="sw_port3"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:03:9a" NAME="ECS_MOP"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:02:c3" NAME="4G_net"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:02:c4" NAME="MG_WAN"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:02:c5" NAME="MG_LAN"
SUBSYSTEM=="net", ACTION=="add", ATTRS{address}=="00:e0:4c:68:02:c6" NAME="sw_port1"
